*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}

.input-c{
    background: #252B42;
    min-width: 900px;
    max-width: 900px;
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sentence{
    width: 430px;
    text-align: center;
}

.p50{
    color: #23A6F0;
    letter-spacing: .2px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

.p60{
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 70px;
}

.input-c h1{
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.email-subcribe{
    display: flex;
}

.email-subcribe input{
    width: 450px;
    padding: 15px;
    font-weight: 700;
    color: #737373;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subcribe{
    padding: 5px 20px;
    background: #23A6F0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.subcribe p{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}




.footer-c{
    background: #252B42;
    min-width: 900px;
    max-width: 900px;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infos{
    display: flex;
}

.info{
    color: #fff;
    width: 200px;
}

.info h3{
    font-size: 700;
    font-weight: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.info p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    line-height: 20px;
}

.info i{
    color: #23A6F0;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.info1{
    color: #fff;
    width: 150px;
    margin-left: 20px;
}

.info1 h3{
    font-size: 700;
    font-weight: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.info1 p{
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    line-height: 17px;
    cursor: pointer;
}

